<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8" /> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>
<body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<div class="container">
	<div id="header">
		<h1><a href='{{post.url}}'>{{page.title}}</a></h1> 
	</div>
	<div class="row">
		<div id="content" class="col-md-8">
			{{content}}
		</div>
		<div id="recent" class="col-md-4">
			Posts recientes: <br/>
			
			{% for post in site.posts %}
				<a href='{{post.url}}'>{{post.title}}</a>
				<br/>
			{% endfor %}
		</div>
	</div>
	<div id="footer">
	{% if page.tags.size > 0 %}
	Tags:
		{% for tag in page.tags %}
			<a href='/tags/{{tag}}.html'>{{tag}}</a> 
		{% endfor %}
	{% endif %}
	</div>
</div>
</body>
</html>
